<div class="container p-0">

  <header>
    <nav class="navbar navbar-dark bg-dark">
      <a href="javascript:void(0)" class="navbar-brand">Mes tâches à faire</a>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search"
               placeholder="Ajouter une tâche..." aria-label="Ajouter une tâche...">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Ajouter</button>
      </form>
    </nav>
  </header>

  <div class="row m-0">

    <div class="col">
      <div class="todolist not-done">
        <h2>A Faire</h2>
        <hr>
        <ul id="sortable" class="list-unstyled">
          <ng-container *ngFor="let task of tasks">
            <li *ngIf="!task.status"
                class="ui-state-default">
              <label>
                <input type="checkbox"
                       [(ngModel)]="task.status"
                       [checked]="task.status">
                {{ task.title }}
              </label>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>

    <div class="col todo-right">
      <div class="todolist">
        <h2>Terminées</h2>
        <hr>
        <ul id="done-items" class="list-unstyled">
          <ng-container *ngFor="let task of tasks">
            <li *ngIf="task.status">
              <label>
                <input type="checkbox"
                       [(ngModel)]="task.status"
                       [checked]="task.status">
                {{ task.title }}
              </label>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>

  </div>

</div>
