<div class="container p-0">

  <header>
    <nav class="navbar navbar-dark bg-dark">
      <a href="javascript:void(0)" class="navbar-brand">Mes tâches à faire</a>
      <app-new-task (newTaskEvent)="addTask($event)"></app-new-task>
    </nav>
  </header>

  <div class="row m-0">

    <div class="col">
      <div class="todolist not-done">
        <h2>A Faire</h2>
        <hr>
        <ul id="sortable" class="list-unstyled">
          <ng-container *ngFor="let task of tasks | tasksFilter : false">
            <li class="ui-state-default">
              <label>
                <input type="checkbox"
                       [(ngModel)]="task.status"
                       (ngModelChange)="saveTasks()"
                       [checked]="task.status">
                {{ task.title }}
              </label>
            </li>
          </ng-container>
        </ul>
        <div class="todo-footer bg-dark text-white">
          Nombre de tâches restantes :
          <strong>{{ (tasks | tasksFilter : false).length }}</strong>
        </div>
      </div>
    </div>

    <div class="col todo-right">
      <div class="todolist">
        <h2>Terminées</h2>
        <hr>
        <ul id="done-items" class="list-unstyled">
          <ng-container *ngFor="let task of tasks | tasksFilter : true">
            <li>
              <label>
                <input type="checkbox"
                       [(ngModel)]="task.status"
                       (ngModelChange)="saveTasks()"
                       [checked]="task.status">
                {{ task.title }}
              </label>
              <button (click)="removeTask(task)" class="close">
                <span>&times;</span>
              </button>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>

  </div>

</div>
